body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar a {
  padding: 0.5em;
  text-decoration: none;
}

.unactive {
  color:white;
}
.active {
  color: black;
}
.navbar a:hover {
  color: black;
}

.navbar-brand {
  padding-left: 2em;
}
.navbar-brand img {
  height: 2em;
}

.pikachu-img {
  width: 24em;
}